# This file includes environment variables that can be committed to git. It's gitignored by default because it represents your local development environment.

# Built-in environment variables
TEAMSFX_ENV=local
APP_NAME_SUFFIX=local

# Generated during provision, you can also add your own variables.
APP_INTERNAL_NAME=msgext-product-support
APP_DISPLAY_NAME=Contoso products
CONNECTION_NAME=MicrosoftGraph
SPO_HOSTNAME=<tenant>.sharepoint.com
SPO_SITE_URL=sites/productmarketing
SPO_LIST_NAME=Products