{
    "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "SECRET_BING_MAPS_KEY": "xxxxxxxxxxxxxxxxxxxxxxx"
  }
}